<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listar tipo reservas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#"> Control de usuarios</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/sedesAdmin}">Sedes</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/reservasAdmin}">Tipos reserva</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/verClientesAdmin}">Clientes</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriasAdmin}">Auditoria</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/l}">Cerrar sesión</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<div th:if="${not #lists.isEmpty(tipoReservas)}">
		<h3 class="text-center">Gestión de tipos de reservas</h3>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Tipo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tipo : ${tipoReservas}">
					<td><span th:text="${tipo.descripcion} ?: 'No hay'"></span></td>
					<td><span th:text="${tipo.precioTipoReserva} ?: 'No hay'"></span></td>
					<td><span th:text="${tipo.tipo} ?: 'No hay'"></span></td>
					<td>
						<a class="btn btn-primary" th:href="@{'/modificarTipoReserva/' + ${tipo.id}}">Modificar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="text-center">
		<a class="btn btn-success" th:href="@{/crearTipoReserva}">Crear tipo de reserva</a>
	</div>

</body>
</html>