<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Administrar sedes</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#"> Control de usuarios</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/sedesAdmin}">Sedes</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/reservasAdmin}">Tipos reserva</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/verClientesAdmin}">Clientes</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriasAdmin}">Auditoria</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/index}">Cerrar sesión</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<div th:if="${not #lists.isEmpty(sedes)}">
		<h3 class="text-center">Sedes</h3>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Ciudad</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sede : ${sedes}">
					<td><span th:text="${sede.nombre} ?: 'No hay sede'"></span></td>
					<td><span th:text="${sede.ciudad} ?: 'No hay sede'"></span></td>
					<td><span th:text="${sede.telefono} ?: 'No hay sede'"></span></td>
					<td><span th:text="${sede.direccion} ?: 'No hay sede'"></span></td>
					<td>
						<a class="btn btn-primary" th:href="@{'/modificarSedeAdmin/' + ${sede.id}}">Modificar</a>
						<a class="btn btn-secondary" th:href="@{'/verMesas/' + ${sede.id}}">Ver mesas</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="text-center">
		<a class="btn btn-success" th:href="@{/crearSede}">Crear Sede</a>
	</div>

</body>
</html>
